 .u-section-1 {
  border-style: dotted;
}

.u-section-1 .u-sheet-1 {
  min-height: 65px;
}

.u-section-1 .u-image-1 {
  width: 63px;
  height: 63px;
  margin: 1px auto 0 79px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -41px 55px 23px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 66px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 4px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: auto;
    margin-top: -40px;
    margin-right: 18px;
    margin-bottom: 27px;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-1 {
    margin: -49px 0 22px 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 14px;
    margin-left: -32px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -31px;
    margin-bottom: 28px;
    margin-left: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 79px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-left: -26px;
  }

  .u-section-1 .u-text-1 {
    margin: -58px -28px 13px 45px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 1114px;
}

.u-section-2 .u-text-1 {
  width: 802px;
  margin: 60px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 23px 16px 24px 15px;
}

.u-section-2 .u-image-1 {
  width: 862px;
  height: 811px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  width: 862px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-2 .u-text-1 {
    width: 682px;
    margin-top: 51px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-1 {
    margin-top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-2 .u-btn-1 {
    padding: 9px 39px 11px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 677px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 508px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 320px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 946px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 48px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 821px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 0px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 0.25;
  transition-duration: 0.25s;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 37.53%;
}

.u-section-3 .u-over-slide-1 {
  transition-duration: 0.25s;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 0.25;
  transition-duration: 0.25s;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-2 {
  bottom: -98px;
}

.u-section-3 .u-over-slide-2 {
  transition-duration: 0.25s;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  --effect-scale: 0.25;
  transition-duration: 0.25s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-3 {
  bottom: -98px;
}

.u-section-3 .u-over-slide-3 {
  transition-duration: 0.25s;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
  transition-duration: 0.25s;
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 37.53%;
}

.u-section-3 .u-over-slide-4 {
  transition-duration: 0.25s;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 54px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 87px;
  }

  .u-section-3 .u-gallery-1 {
    height: 473px;
    margin-top: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 590px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 97px 0;
}

.u-section-4 .u-image-1 {
  width: 1003px;
  height: 364px;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-4 .u-image-1 {
    height: 341px;
    margin-top: 30px;
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 261px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-text-1 {
    width: 205px;
    margin-top: 29px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-1 {
    height: 196px;
    margin-bottom: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-4 .u-text-1 {
    width: 136px;
    margin-top: 0;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-image-1 {
    height: 123px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 408px;
}

.u-section-5 .u-image-1 {
  height: 373px;
  margin-top: 0;
  margin-bottom: 35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-5 .u-image-1 {
    height: 182px;
    margin-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1728px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 68px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1117px;
  margin: 14px 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 508px;
}

.u-section-6 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-6 .u-text-1 {
  line-height: 1;
  font-size: 1.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 0 auto;
}

.u-section-6 .u-image-1 {
  height: 342px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0 172px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 508px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  line-height: 1;
  font-size: 1.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 19px 55px 0 70px;
}

.u-section-6 .u-image-2 {
  width: 512px;
  height: 370px;
  margin: 18px 30px 0 18px;
}

.u-section-6 .u-text-4 {
  margin: 16px auto 0;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 458px;
}

.u-section-6 .u-container-layout-3 {
  padding: 21px 0 18px;
}

.u-section-6 .u-text-5 {
  line-height: 1;
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 auto;
}

.u-section-6 .u-image-3 {
  height: 312px;
  margin: 11px 30px 0;
}

.u-section-6 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 458px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 29px 18px;
}

.u-section-6 .u-text-7 {
  font-style: italic;
  line-height: 1;
  font-size: 1.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 1px 39px 0;
}

.u-section-6 .u-image-4 {
  height: 314px;
  width: 492px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-8 {
  margin: 29px 154px 0 auto;
}

.u-section-6 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.u-section-6 .u-layout-wrap-3 {
  margin-top: 21px;
  margin-bottom: 34px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 507px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-6 .u-text-9 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 64px auto 0;
}

.u-section-6 .u-image-5 {
  width: 447px;
  height: 259px;
  margin: 10px 20px 0 auto;
}

.u-section-6 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 34px auto 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 507px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-6 .u-text-10 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 34px 0 0;
}

.u-section-6 .u-image-6 {
  height: 259px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-6 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 34px 154px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-6 .u-image-1 {
    height: 288px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 144px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 44px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-6 .u-image-2 {
    width: 470px;
    height: 340px;
    margin-top: -7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 58px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-6 .u-image-3 {
    height: 257px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 427px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    height: 263px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 418px;
  }

  .u-section-6 .u-image-5 {
    width: 410px;
    height: 238px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 418px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: 62px;
  }

  .u-section-6 .u-image-6 {
    height: 209px;
    margin-top: 16px;
  }

  .u-section-6 .u-btn-7 {
    margin-top: 57px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 221px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 110px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 260px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-6 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-3 {
    height: 197px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-7 {
    width: 224px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    height: 193px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-3 {
    margin-top: 0;
    margin-bottom: 55px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 386px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-5 {
    width: 300px;
    height: 174px;
    margin-right: 30px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 386px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-6 {
    height: 153px;
    margin-top: 34px;
  }

  .u-section-6 .u-btn-7 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 332px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 174px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    height: 390px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-4 {
    margin-top: 23px;
  }

  .u-section-6 .u-image-3 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 437px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    height: 332px;
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-8 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 372px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 67px;
  }

  .u-section-6 .u-image-5 {
    width: 334px;
    height: 194px;
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-6 .u-btn-6 {
    margin-top: 23px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 365px;
  }

  .u-section-6 .u-image-6 {
    height: 163px;
    width: 395px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-btn-7 {
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2260px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-image-1 {
    height: 209px;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.625rem;
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-6 .u-image-2 {
    height: 246px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 76px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-image-3 {
    height: 186px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 293px;
  }

  .u-section-6 .u-text-7 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-6 .u-image-4 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-8 {
    margin-top: 5px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 338px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.625rem;
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 303px;
  }

  .u-section-6 .u-text-10 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-image-6 {
    height: 140px;
    width: 340px;
  }
}